$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...
body {
  background: darkgrey;
}

.header {
  margin-top: 15px;
}

.forecast {
  text-align: center;
}

.quick-forecast {
  float: right;
  display: flex;
}

.quick-forecast .forecast {
  display: flex;
  flex-direction: column;
  height: 4em;
  margin-left: 2em;
}

.quick-forecast .col1 {
  display: flex;
  flex-direction: row;
}

.quick-forecast .symbol-name {
  text-align: center;
}

.quick-forecast .temperature {
  flex: 1 auto;
  font-size: 2em;
  font-weight: bold;
}

.quick-forecast .img-wrapper {
  display: flex;
  flex: 1 auto;
  padding-left: 1em;
}
.quick-forecast img {
  height: 37px;
}

.title {
  display: inline-block;
  margin-top: 0;
}
.departures {
  text-align: center;
}

.loading-icon {
  font-size: 4em;
}

.loading-text {
  font-size: 1em;
}

.glyphicon.spinning {
  animation: spin 1.4s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.last-updated {
  font-size: 0.4em;
}
